<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Flask</title>
    <style>footer {
    background-color: #333; /* Цвет фона футера */
    color: #fff; /* Цвет текста футера */
    padding: 20px; /* Отступы */
    text-align: center; /* Выравнивание содержимого по центру */
}
</style>
</head>
<body>
<header>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fyandex.ru%2Fmaps%2Forg%2Fbarakholka%2F78953624505%2Fpanorama%2F&psig=AOvVaw2JDkZQnWU0W3qLQ-zPgfzp&ust=1716805989535000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCLj-5euOq4YDFQAAAAAdAAAAABAE" alt="Заголовок с изображением"> <!-- Добавляем изображение -->
        <h1>Борохолка</h1>
        <nav>
            <ul>
                <li><a href="/home">Главный</a></li>
                <li><a href="/about">о НАс</a></li>
                <li><a href="/shop">Категория товаров</a></li>
                <li><a href="/add">Продать что то </a></li>

            </ul>
        </nav>
    </header>
    <h1> щгнавапролдщшгнеапрогнпрогнр</h1>
    <footer>
        <p>&copy; . смайл.</p>
    </footer>
</body>
</html>